.product-card {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .card-img-top {
  width: 100%;
  height: 200px; 
  object-fit: fill; 
}

.product-card .card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col-md-3 {
  flex: 1 1 calc(25% - 10px); 
  display: flex;
  justify-content: center;
}
